<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718557335089-j2rfmvhsi40m8u04dutqp9lhp01dvrd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718557335089-j2rfmvhsi40m8u04dutqp9lhp01dvrd6</string>
	<key>API_KEY</key>
	<string>AIzaSyBbfs71k0im0PFUy6ZwAS_pxjHFhUIpXjY</string>
	<key>GCM_SENDER_ID</key>
	<string>718557335089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khudmukhtar.khudmukhtar</string>
	<key>PROJECT_ID</key>
	<string>khud-mukhtar</string>
	<key>STORAGE_BUCKET</key>
	<string>khud-mukhtar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718557335089:ios:daa27eeea355c9a6550f10</string>
	<key>DATABASE_URL</key>
	<string>https://khud-mukhtar.firebaseio.com</string>
</dict>
</plist>